.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
public/storage
nayamenu-2ae08-firebase-adminsdk-fbsvc-66223cba18.json
firebase-service-account.json
