/node_modules
/public/hot
/public/storage
/storage/logs/*.log
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
firebase-service-account.json
nayamenu-2ae08-firebase-adminsdk-fbsvc-66223cba18.json
*-firebase-adminsdk-*.json
.config/*.json
